

/* Formularis */

form
{ 
  margin: 0;
  padding: 0;
 }

.apilats
{ 
  padding-bottom: 1em;
  clear: both;
 }

.apilats span
{ 
  margin-right: 1em;
  float: left;
 }

textarea
{ 
  height: 10em;
  }

label
{ 
  font-style: italic;
 }

textarea,
select,
input
{ 
  font-family: sans-serif;
 }

textarea#logarea
{ 
  font-size: 1em;
  width: 26.4em;
  height: 15em;
  
 }

textarea,
input.textfield,
input.submit
{ 
  font-size: 1.2em;
}


textarea,
input.textfield
{ 
  padding: 0.2em;
 
  width: 22em;  
 }

textarea,
select,
input.textfield,
input.time,
input.year
{ 
  border: 2px solid white;
  background-color: #eee;
}

input.submit
{ 
  border: 2px outset #888;  
  padding: 2px;  
  background-color: #000;
  
  width: 8em;
  
  color: #fff;
}

input.submit:active
{ 
  border-style: inset;
}

input.submit:hover
{ 
  border-color: #900;
 }

input.submit:focus,
input.submit:active
{ 
  border-color: red;
}

input.year
{ 
  text-align: center;
  width: 4em;
 }

input.time
{ 
  text-align: center;
  width: 2em;
 }

#avatar
{ 
  margin: auto;
  margin-bottom: 1em;
  border: 2px solid white;
  padding: 0.4em;

  text-align: left;
  width: 22em;  
  display: table;
  
 }

#avatar input
{ 
  font-size: 0.8em;
}


/* Buscador */

#buscador
{ 
  text-align: right;
  font-size: 0.8em;
  float:right;
  padding-right: 0.5em;
 }

#buscador input.submit
{ 
  margin-top: 0.5em;
  }

#buscador input.textfield
{ 
  width: 10em;
 }

/* Parserer */

.hora
{ 
  font-family: monospace;
  
  color: #888;
  
 }

.nick
{ 
  color: #eee;
  
  }

.nick_deco
{ 
  color: #888;

  }


/* Nota */


.loading_vote
{ 
  margin: 0.5em 0;
  color: white;
  font-style: italic;
 }

.puntuacio
{ 
  margin: 0.2em 1.8em;
  border: 0.4em solid #333;
  padding: 0.2em;

  text-align: center;
  float: right;
  
  color: #888;
  font-size: 0.8em;
 }

.puntuacio img
{ 
  border: 0;
 }

.puntuacio a:hover
{ 
  background-color: black;
 }

.nota_global,
.no_votat
{ 
  text-align: center;
  color: white;
  font-size: 1.5em;
 }

.el_teu_vot
{ 
  margin-top: 0.3em;
  border-top: 0.2em solid #333;
  padding-top: 0.3em;

 }


/* Logs */



.log
{ 
  margin: 0 0 2.5em 0;
  border-left: 0.5em solid #333;
  padding: 0.5em;
  
 }

.titollog
{

 }

.titollog a
{ 
  margin-left: 0.2em;
 
  font-size: 1.5em;
 }


.titollog img
{ 
  vertical-align: top;
 }



.logbody
{ 
  padding: 0.2em 0;

  overflow: visible;
 }

.logbody p
{ 
  margin: 0;
 }

.infolog
{ 
  font-size: 0.8em;
  color: #888;
 }

.highlight
{ 
  background-color: #dddd00;
  color: #000;
 }

.logtags
{ 

  font-size: 0.8em;
  color: #ccc;
  }

.logtags .titol
{ 
  color: #888;
 
 }

.newtag
{ 

 }

.submittag
{ 

 }

.loadingtag
{ 
  margin: 0.5em 0;
  color: white;
  font-style: italic;

 }

/* Fa X */

.fa-minuts { color: #fff; }
.fa-hores { color: #ddd; }
.fa-dies { color: #bbb; }
.fa-setmanes { color: #999; }
.fa-mesos { color: #777; }

/* Tags */ 

a
{ 
  text-decoration: none;
 }

h1
{ 
  margin: 0 0.5em 0 0;
  text-align: right;
  color: #999;
  font-style: italic;
  font-size: 2em;
  
}

/* Estructura */

#logo
{ 
  float: left;
  border: 0;
  margin-bottom: 0.5em;
 }

body
{
  background-color: #888;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#marc
{
  margin: 1em auto;
  
  width: 50em;
  
  background-color: black;
}

#pagina
{ 
  margin: 0 15px;
  padding: 0;
   
  text-align: left;
}

#contingut
{ 
  margin-top: 0.5em;
  width: 37em;
  float: left;

 }

.objecte
{ 
  margin: auto;
  display: table;
  }


/* Menus */


#menu_lateral
{ 

  padding-right: 1em;

  margin: 0em 1em 1em 0;

 /* width: 11em; */
  float: left;

  font-size: 0.9em;
  font-weight: bold;

 }

#menu_lateral a
{ 
  margin-left: 1em;
  padding: 0.2em;

  display: block;
   }

#menu_lateral a.actual
{ 
  color: #999;
  font-style: italic;
}

#menu_lateral a.actual:hover
{ 
  background-color: black; 
}


#menu_lateral .menu_group
{ 
  font-size: 1.1em;
 }


#menu_superior
{
  clear: both;
  border-top: 3px solid #333;
  
}

.opcio:after
{ 
  margin: 0;
  padding: 0;
  content: " | ";
 }


#menu_superior,
#menu_extra
{ 
  margin-top: 1em;
  padding: 0.5em;
  
  text-align: right;
  font-size: 0.9em;
}

#menu_extra
{ 
  color: #888;
 }

#paginador
{ 
  color: white;
  }


/* Quotes */

#show_galeta
{ 
  text-align: right;
  font-size: 1.5em;
 }

#galeta
{
  margin-top: 1em;
  border-top: 3px solid #333;
  padding: 0.5em 10em;
  
  clear: both;

  text-align: right;
  font-size: 0.9em;
}

#frase
{ 
  font-style: italic;
 }

#autor
{ 
  margin: 0.2em 2em;
}

/* Login */

#username
{ 
  margin-right: 0.5em;

  font-weight: bold;
 }

#missatge_flash
{ 
  margin-right: 1em;

  font-size: 0.9em;   
}

.logtags input,
#buscador input,
#login input
{ 
  color: #fff;
  background-color: #000;

}
.logtags input.submit,
#buscador input.submit,
#login input.submit
{ 
  width: 6em;
  font-size: 0.9em;
  
 }

.logtags input.textfield:hover,
#buscador input.textfield:hover,
#login input.textfield:hover
{ 
  border-color: #900;
 }

.logtags input.textfield:focus,
#buscador input.textfield:focus,
#login input.textfield:focus
{ 
  border-color: red;
}


.logtags input.textfield,
#login input.textfield
{ 
  width: 8em;
  }

.logtags input.textfield,
#buscador input.textfield,
#login input.textfield
{ 
  border: 2px inset #888;

  padding: 2px;

  font-size: 1em;
}

#loading_login
{ 
  font-style: italic;
}

/* Errors */

.fieldWithErrors 
{
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation 
{
  margin: auto;
  margin-bottom: 2em;
  padding-bottom: 1em;

  width: 22em;

  background-color: #eee;
  color: black;

}

#ErrorExplanation h2 
{
  text-align: left;
  font-weight: bold;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 0.8em;
/*  margin: -7px; */
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-left: 1em;
}

#ErrorExplanation ul li {
  font-size: 0.8em;
  list-style: square;
}


/* Taules 

td
{ 
  padding-left: 0.2em;
  padding-right: 0.2em;
 }

th
{ 
  border-bottom: 1px dashed white;
  
  font-weight: bold;
  text-align: left;
  width: 30em;
 }

table
{ 
  margin: auto;
  margin-bottom: 1em;
 }

*/

/* Deco */

#deco_top{background: url('deco-tr.png') no-repeat top right;}
#deco_top div{background: url('deco-tl.png') no-repeat top left;}
#deco_bot{background: url('deco-br.png') no-repeat top right;}
#deco_bot div{background: url('deco-bl.png') no-repeat top left;}
#deco_top,#deco_top div,#deco_bot,#deco_bot div
{
  height: 15px;
  width: 100%;
  font-size: 1px;
}


/* Per defecte */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #f00; }
a:visited { color: #f00; }
a:hover { color: #000; background-color:#f00; }
a:active { color: #f00; background-color:#000; }


div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

