# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.7.5

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    #### working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    working_directory: /go/src/pinchito
    steps:
      - checkout

      - run:
          name: Extra dependences for tests
          command: |
              sudo apt-get install -y bzip2 mysql-server mysql-client
              sudo /etc/init.d/mysql start

      - run:
          name: Populate database
          command: |
              cd tests
              bunzip2 test-db.sql.bz2
              mysql -u root -e "source test-db.sql"

      - run:
          name: Create testing user in the database
          command: |
              mysql -u root -e "CREATE DATABASE \`pinchito-test\`;"
              mysql -u root -e "CREATE USER 'pinchito-test'@'localhost' IDENTIFIED BY 'p1nt3st';"
              mysql -u root -e "GRANT ALL PRIVILEGES ON \`pinchito-test\`.* TO 'pinchito-test'@'localhost'"

      - run:
          name: Configure database settings of the application
          command: |
              cd conf
              echo '{ "Db" : { "Name" : "pinchito", "User" : "pinchito-test", "Pass" : "p1nt3st" } }' > settings.json

      - run:
          name: Retrieving revel
          command: go get github.com/revel/revel
      - run:
          name: Retrieving revel (cmdline)
          command: go get github.com/revel/cmd/revel
      - run:
          name: Retrieving mysql
          command: go get github.com/go-sql-driver/mysql
      - run:
          name: Running revel tests
          command: revel test pinchito

      - deploy:
          name: Deploying (stand-in)
          command: echo "Deploying"
          when: on_success
