{
    "Db" : {
        "Name"     : "database-name",
        "Protocol" : "unix",
        "User"     : "username",
        "Pass"     : "password"
    },
    "Auth" : {
	"Token" : "random-token-used-to-add-logs"
    }
}
